@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <title>CSV Download</title>
</head>
<body>
    <h1>Download Data in CSV Format</h1>
    @Html.ActionLink("Download CSV", "DownloadData", "Data", null, new { @class = "btn btn-primary" })
</body>
</html>

